/*--Portfolio Color Theme--*/
/*#05B5C8  #1D7EDB  #FEDB5E  #EFC194  #EB4434*/

.container-fluid{
  padding: 0;
}
/*--==Nav Bar Styles==--*/
.navbar-default {
    background-color: #1D7EDB;
    border-color: #e7e7e7;
}
.navbar {

  margin-bottom: 0px;
}
.navbar .navbar-default{
  background-color:#1D7EDB;
}
.navbar-brand{
  font-size:2em;
  font-weight: bold;
}
.sm-icons{
  margin-top:10px;
}

.sm-icons i{
   font-size:2em;
   padding-right:7px;
   color:#EB4434;

}

/*--==Carousel Styles==--*/
.bgstyle{
  background-color: #EFC194;
}
.carousel-inner .item {
  background-size: cover;
  background-position: center;
  height: 400px;
}
.slide-one {
  background-image: url('../img/LibraryofCongress.jpg');
}
.slide-two {
  background-image: url('../img/oceansidepier.jpg');
}
.slide-three {
  background-image: url('../img/stevedore.jpg');
}

/*--==Project Grid Styles==--*/

#ProjectGrid{
  background-color: #FEDB5E;
  height: 400px;
  Width: 100%;
  padding-top:20px;
}
#ProjectGrid img{
   hight: 90px;
   width: 90px;
   margin:0 auto;
}
.caption{
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
}
.caption-3{
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

/*--==Contact Me Section==--*/

#contact-me{
  background-color: #EFC194;
  height: 450px;
  width:100%;
}
.address well well-lg{
  font-size: 25px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color:#EB4434;
}
#contact-me iframe {
  width: 20%;
  height: 20%;
}
